@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Set background color to pure white */
body {
  background-color: #ffffff; /* Pure white background */
}

@keyframes slideInFromTop {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.flowchart-card {
  opacity: 0;
  animation: slideInFromTop 0.5s ease-out forwards;
}

.flowchart-card:nth-child(1) {
  animation-delay: 0.4s;
}

.flowchart-card:nth-child(2) {
  animation-delay: 0.8s;
}

.flowchart-card:nth-child(3) {
  animation-delay: 1.2s;
}

.flowchart-card:nth-child(4) {
  animation-delay: 1.6s;
}

.flowchart-card:nth-child(5) {
  animation-delay: 2.2s;
}

body.no-scroll {
  overflow: hidden;
}

/* Media queries for responsive design */
@media (max-width: 600px) {
  .hero-section {
    height: auto; /* Adjust to fit the content */
    padding: 20px; /* Adjust padding as needed */
  }

  .hero-section .image-container {
    display: none; /* Hide image on mobile */
  }

  .hero-section .text-container {
    padding: 20px; /* Adjust padding as needed */
    margin-bottom: 0; /* Ensure there's no excessive margin at the bottom */
  }

  .offerings-section {
    margin-top: 20px; /* Adjust as needed to control the space between sections */
  }

  /* Adjust other sections as needed */
  .partners, .testimonials, .faq-section {
    padding: 10px;
    margin: 0 auto;
  }
}
